<nz-layout>
  <nz-header>
    <a routerLink="/">
      <img class="logo" [src]="logoPath" alt="Geo Logo" />
    </a>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>
        <a routerLink="/">Home</a>
      </li>
      <li nz-submenu nzTitle="Admin">
        <ul>
          <li nz-menu-item><a routerLink="/admin">Admin map</a></li>
          <li nz-menu-item>
            <a routerLink="/admin/manage">Places management</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
</nz-layout>
